*{
  box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: 0;
  padding: 0;
}


.welcomeScreen{
  background: url(../assets/images/Background.webp) transparent no-repeat center center;
  background-size: cover;
  height : 100vh;
  padding-top : 32vh;
  padding-bottom : 58vh;
  display : flex;
  justify-content : center;
}

.startBtn{
  width : 30vh;
  padding-top : 2vh;
  padding-bottom : 2vh;
  text-align : center;
  border: 4px solid rgb(106, 227, 223);
  background-color: rgb(76, 212, 119);
  border-radius: 40px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.menuScreen{
  background: url(../assets/images/menu.jpg) transparent no-repeat center center;
  background-size: cover;
  /* height: 100%; */
  padding: 30px 0;
}
.homeBtn{
  margin: 15px;
  border-radius: 40px;
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: 4px solid rgb(106, 227, 223);
  background-color: rgb(76, 212, 119);
  padding: 20px 30px;
}
.menuLevel{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.menuScreen ul{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
.menuScreen ul li{
  width: 100px;
  height: 100px;
  background-color: rgb(225, 218, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
}
.menuScreen ul li a{
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.playScreen {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playBtn{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: #4CAF50; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.trash {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.trashBtn {
  display : flex;
}